---
import BaseLayout from "../layouts/BaseLayout.astro";


let title = "Home";


---
<BaseLayout title={title}>
<p>
    Home - Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi porro doloribus reiciendis. Accusantium error distinctio asperiores doloribus. Nulla hic nihil excepturi adipisci, in corrupti error tenetur accusamus iusto omnis illum?
</p>
</BaseLayout>